@use '../../styles/partials/placeholders' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.InfoItem {
	$parent: &;
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1.6rem 1.6rem;

	@include media-size(map-get($screen-size, 'tablet')) {
		display: flex;
	}

	&--warehouses {
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);

		@include media-size(map-get($screen-size, 'tablet')) {
			grid-template: 1fr / repeat(4, 1fr);
		}
	}

	&--inventories {
		grid-template:
			'grid-1 grid-3'
			'grid-2 grid-4'
			'. grid-5';

		@for $i from 1 through 5 {
			#{$parent}__item:nth-child(#{$i}) {
				grid-area: grid-#{$i};
			}
		}

		@include media-size(map-get($screen-size, 'tablet')) {
			grid-template: 1fr / repeat(5, 1fr);
		}
	}

	&__item {
		&--inventories {
			@include media-size(map-get($screen-size, 'tablet')) {
				width: 20%;
			}
		}

		&--warehouses {
			@include media-size(map-get($screen-size, 'tablet')) {
				width: 25%;
			}
		}
	}

	&__label {
		@extend %table-header;
		color: $table-header-color;

		@include media-size(map-get($screen-size, 'tablet')) {
			display: none;
		}
	}

	&__info {
		@extend %body-medium;
		color: $table-header-color;

		&--link {
			@extend %labels-links-buttons;
			color: $interactive-color;

			&::after {
				content: url('../../assets/Icons/chevron_right-24px.svg');
				vertical-align: middle;
			}
		}
	}
}
