/*----------- Colors -----------*/
$instock-black: #13182c;
$slate: #5c667e;
$graphite: #232940;
$green: #158463;
$instock-indigo: #2e66e5;
$cloud: #dbc5d5;
$light-grey: #f7f8f9;
$red: #c94515;
$white: #fff;

$global-text-color: $instock-black;
$interactive-color: $instock-indigo;
$global-white: $white;

$table-header-color: $slate;
$placeholder-color: $slate;
$border-color: $cloud;

$navigation-header-bg: $graphite;
$navigation-item-active: $instock-black;
$cta-hover-bg: $graphite;
$page-bg: $light-grey;
$table-header-bg: $light-grey;
$cta-bg: $light-grey;

$in-stock-bg: $green;
$out-of-stock-bg: $red;

/*----------- Screen sizes -----------*/
$screen-size: (
	"mobile": 375px,
	"tablet": 768px,
	"desktop": 1280px,
);

/*----------- Out margins -----------*/
$margins: (
	"mobile": 1.6rem,
	"tablet": 3.2rem,
	"desktop": auto,
);
