@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.InfoItemCta {
	display: flex;
	width: 100%;
	margin-top: 1.6rem;
	justify-content: space-between;

	@include media-size(map-get($screen-size, 'tablet')) {
		width: 6rem;
		margin: 0;
	}

	&__link {
		display: block;
		height: 1.8rem;

		&--edit {
			margin-right: 2.4rem;
		}
	}

	&__button {
		height: 100%;
		object-fit: contain;
	}
}
