.InfoItemCta {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 1.6rem;

	&__link {
		display: block;
		height: 1.8rem;
	}

	&__button {
		height: 100%;
		object-fit: contain;
	}
}
