@use "../../styles/partials/placeholders" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.Footer {
	@extend %body-small;
	@extend %flex-center;
	position: absolute;
	padding: 4rem 0;
	width: 100%;
	bottom: 0;

	@include media-size(map-get($screen-size, "desktop")) {
		padding: 4.8rem 0;
	}

	&__ctx {
		color: $footer-color;
	}
}
