@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/placeholders" as *;

:root {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	color: $global-text-color;
	background-color: $page-bg;
	min-height: 100vh;
	position: relative;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

h1 {
	@extend %page-header;
}

h2 {
	@extend %sub-header;
}

a {
	text-decoration: none;
}
