@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;

body {
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	color: $global-text-color;
	background-color: $page-bg;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}
